.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.display form {
    padding-bottom: 70px;
}

.search__text {
    background-color: #00000066;
    padding: 40px;
}

.searcher {
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 2px;
    
}

.fa-cloud {
    color: #fff;
    padding: 0 100px;
}

.search__title {
    color: #fff;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
}

.search__date {
    color: #fff;
    font-size: 25px;
    font-family: Georgia;
}

.search__actual-weather {
    color: #fff;
    font-size: 45px;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
}

.search__cloud {
    color: #fff;
    font-weight: 900;
    padding: 20px 0;
    font-size: 20px;
    text-align: center;
}

.search__weather {
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-family: Georgia;
}

@media screen and (max-width: 450px) {
    .display {
        width: 85%;
        margin: auto;
    }

    .search__text {
        padding: 20px;
        width: 85%;
    }

    .search__actual-weather {
        font-size: 38px;
    }

    .fa-cloud {
        text-align: center;
        padding: 0;
        display: flex;
        justify-content: center;
    }
}